*{
    margin: 0;
    box-sizing:border-box;
}

.container {
    width: 100%;
    height: auto;
    background-image: url("img/pattern.png");
    background-size:38%;
    background-position-x: 138px;
    background-color:rgb(89,157,255)
    
}

.logo{
    width: 19.3%;
    height: auto;
    margin:82px 0 0 0;
    padding-bottom: 18px;
}
main{
    margin: 42px 3px 5px 10px;
}
h1 {
    font-size: 79px ;
    line-height: 85px;
}

.lightblue {
color: rgb(124,199,238);}

.grey{
   
    color: grey;
}
p{
    font-size: 35px;
}
time , .p_small {
    font-size: 25px;
}
.centro , .theader{
  margin-top: 38px;
  width: 100%;
  height: auto;
  position: relative;
  
}
/* foto */
.tim1{
    width: 52%;
}
.tim2{
    width: 44.2%;
}

.fake_ul{
    font-size: 30px;
    margin-right: 20px;
}
/* Tabella */
.theader {
    color: white;
    font-weight: bold;
    background-color:rgb(60,167,228) ;
}
.cell {
    display: inline-block;
}

.csmall {
    width: 25%;
    
}
.cbig {
    width: 40;
    ;

}

.p_center{
    display: inline-block;
    margin:0 auto;
text-align: center;}

.block_1e3 {
    background-color:rgb(124,199,238) ;

}
.b_cell_small {
    width: 25%;
    height: 80px;
}
.b_cell_big {
   margin-right: 0px;
   width: 49%;

}

   .block_2 {
       background-color:white ;
   }

   .evidenziato {
background-color: yellow;
   }

   .testo {
       top: 4px;
       left: 10px;
       position: absolute;
       color: white;
   }

   .immagini {
       width:100%;
       padding-left: 10px;
   }
   .monitor{
       display: inline-block;
       width:20%;
       height: auto;

   }

   .bonus {
       width: 80%;
       margin-left: 10%;
       margin-right: 10%;
   }