*{
    margin: 0;
    box-sizing:0;
}

.container {
    width: 100%;
    height: auto;
    background-image: url("img/pattern.png");
    background-size:38%;
    background-position-x: 138px;
    background-color:rgb(89,157,255)
    
}

.logo{
    width: 19.3%;
    height: auto;
    margin:82px 0 0 0;
    padding-bottom: 18px;
}
main{
    margin: 42px 3px 30px 3px;
}
h1 {
    font-size: 79px ;
    line-height: 85px;
}

span{
color: rgb(124,199,238);}

p ,time{
   
    color: grey;
}
p {
    font-size: 35px;
}
time {
    font-size: 25px;
}